.DS_Store
.vscode/
__pycache__/
__init__.py
.python-version
fasthound.code-workspace
.gitignore

#env-config
.env
.venv
env/
venv/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
